<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>Scoreboard</title>

	{% stylesheets '@ScoreboardAppBundle/Resources/public/css/*' %}
	<link rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %}
</head>

<body>

<!-- Fixed navbar -->
<div class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">Scoreboard</a>
		</div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li class="active"><a href="#">Stream</a></li>
				<li><a href="#about">Settings</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li>
	            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
	                {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
	                <a href="{{ path('fos_user_security_logout') }}">
	                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
	                </a>
	            {% else %}
	                <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
	            {% endif %}
				</li>
			</ul>
		</div>
	</div>
</div>
<div class="container content-container">
{% block fos_user_content %}
{% endblock fos_user_content %}
{% block content %}
{% endblock %}
</div>

{% javascripts '@ScoreboardAppBundle/Resources/public/js/*' %}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}

</body>
</html>
